<div class="login-container">
  <div class="form-container">
    <img src="assets/logo2.png" alt="BizzOps Logo" class="logo" (click)="navigateToHome()">
    <form (ngSubmit)="handleLogin()" class="login-form">
      <h2 class="form-title">Sign In</h2>
      
      <div class="input-group">
        <i class="fa fa-envelope"></i>
        <input
          type="text"
          placeholder="Email"
          required
          [(ngModel)]="email"
          name="email"
          class="form-input"
        />
      </div>
      
      <div class="input-group">
        <i class="fa fa-lock"></i>
        <input
          type="password"
          placeholder="Password"
          required
          [(ngModel)]="password"
          name="password"
          class="form-input"
        />
      </div>
      
      <div class="signup-link" (click)="navigateToSignup()">
        <p>Don't have an account? <span class="signup-text">Sign up</span></p>
      </div>
      
      <button type="submit" class="login-button">Login</button>
    </form>
  </div>
  
  <div class="info-container">
    <div class="info-content">
      <h1 class="info-title">Manage Your Business, Smarter and Faster.</h1>
      <p class="info-description">
        Streamline your operations and gain insights to make informed decisions. Join us and take the first step towards optimizing your business today!
      </p>
      <div class="feature-list">
        <h1 class="feature-item"><i class="fa fa-check"></i>Ultimate Business Tool</h1>
        <h1 class="feature-item"><i class="fa fa-check"></i>Run and Scale Your CRM ERP Apps</h1>
        <h1 class="feature-item"><i class="fa fa-check"></i>Easily Add And Manage Your Services</h1>
        <h1 class="feature-item"><i class="fa fa-check"></i>It Bring Together Your Invoices, Clients And Leads</h1>
      </div>
    </div>
  </div>
  
  <div *ngIf="errorPopup" class="error-popup">
    <i class="fa fa-lock"></i>
    <span>{{ errorPopup }}</span>
  </div>
</div>