<body>
    <div class="container">
        <button class="btn" [routerLink]="['/landing']">Pricing</button>
        <h1>BizzOps Pricing</h1>
        <p>The business management platform made by Shyam, for merchants</p>
        <div class="pricing">
            <div class="card">
                <h2>Free</h2>
                <h3>₹0/year</h3>
                <p>Free forever</p>
                <p>For learning and exploring BizzOps as a SAAS platform</p>
                <p>Access to only Inventory, Sales, Expenses, and Reports</p>
                <button>Try for free</button>
            </div>
            <div class="card">
                <h2>Dedicated</h2>
                <h3>₹3999/Month</h3>
                <p>Pay as subscription</p>
                <p>For production operations and with zero paper management on BizzOps.</p>
                <p>Access to only Inventory, Sales, Invoices, Expenses, Reports, Notes, and payments</p>
                <button>Get Started</button>
            </div>
            <div class="card">
                <h2>Premium</h2>
                <h3>₹6999/year</h3>
                <p>Pay as subscription</p>
                <p>For many insights with the visualized dashboard and report</p>
                <p>Access to Dashboard, Inventory, Sales, Reports, and many more...</p>
                <button>Get Started</button>
            </div>
        </div>
    </div>
</body>